<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucsc.hci.rankit" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="1ac9a68cf46f86da225f6469f7edf72de5a5e94f" />

        <activity
            android:name=".MenuPageActivity"
            android:label="@string/title_activity_menu_page"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ucsc.hci.rankit.MainActivity" />
        </activity>
        <activity
            android:name=".BooksActivityMain"
            android:label="@string/title_activity_books_activity_main"
            android:parentActivityName=".MenuPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ucsc.hci.rankit.MenuPageActivity" />
        </activity>
        <activity
            android:name=".MoviesActivityMain"
            android:label="@string/title_activity_movies_activity_main" >
        </activity>
        <activity
            android:name=".MusicActivityMain"
            android:label="@string/title_activity_music_activity_main" >
        </activity>
    </application>

</manifest>
